.myLoveMoth,.myLoveDay{width:46px;overflow:hidden;margin-left:1px;font-size:12px;}
.myLoveDay{font-size:11px;text-align:center;margin-top:11px;_margin:0;}
.myLoveMoth,.myLoveDay{width:46px;overflow:hidden;margin-left:7px;margin-top:5px;}
.myLoveDay{text-align:center;}
.daRenTopicInfo{left:-49px;}
.daRenTopicLine{left:-870px;top:58px;height:387px;}
.daRenTopicPic{background-color:#ccc;margin-left:0px;_margin:0 0 0 10px;}
